.info-pessoal-mentorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    margin-top: 30px;
}

.horarios{
    display: flex;
    gap: 32px;
}

.horarios > div:nth-child(1){
    width: 300px;
}

.info-pessoal-mentor__subtitle{
    font-size: 20px;
}